[core]
	editor = code --wait
	autocrlf = input
	excludesfile = C:\\Users\\liuzhuo\\Documents\\gitignore_global.txt
[user]
	name = Trendymen
	email = 476212964@qq.com
[alias]
	logg = log --graph --pretty=oneline --abbrev-commit
	logs = log --abbrev-commit
	co = checkout
	pushg = pushg --progress
	bcvv = branch -vv
[color]
	ui = true
[i18n]
	commitencoding = utf-8
	logoutputencoding = utf-8
[merge]
	tool = vimdiff3
[diff]
	tool = vimdiff3

[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[http]
	proxy = http://127.0.0.1:41091
[https]
	proxy = https://127.0.0.1:41091
