[core]
	editor = code -w
	autocrlf = true
[user]
	name = Trendymen
	email = 476212964@qq.com
[alias]
	logg = log --graph --pretty=oneline --abbrev-commit
	logs = log --abbrev-commit
	co = checkout
	pushg = pushg --progress
	bcvv = branch -vv
[color]
	ui = true
[i18n]
	commitencoding = utf-8
	logoutputencoding = utf-8
[merge]
	tool = vimdiff3
