prefix=D:\npm_pkg\npm_global
cache=D:\npm_pkg\npm_cache
home=https://npm.taobao.org
registry=https://registry.npm.taobao.org/
python=C:\Python38\python.exe
always-auth=true
//localhost:4873/:_authToken="shTQlOegA34V8AZo5VeOeMyeq3o/1uk9I7wHc864Vug="
//npm.pkg.github.com/:_authToken=874e8a50bc61a40fb6cfbc9af91806ce3862a817
