prefix=E:\nodejs\node_global
cache=E:\nodejs\node_cache
python=C:\Python39\python.exe
always-auth=true
//localhost:4873/:_authToken="shTQlOegA34V8AZo5VeOeMyeq3o/1uk9I7wHc864Vug="
//npm.pkg.github.com/:_authToken=949078b8dd2fb68eca1f7225c21ed5af87514d6a
# https-proxy=http://localhost:41091/
# proxy=http://localhost:41091/
engine-strict=true
