prefix=E:\nodejs\node_global
cache=E:\nodejs\node_cache
python=C:\Python39\python.exe
always-auth=true
//localhost:4873/:_authToken="shTQlOegA34V8AZo5VeOeMyeq3o/1uk9I7wHc864Vug="
//npm.shoplazza.site/:_authToken="0HKwwwSp+EmqDWR8wlRfLADNkRkN/Zj8XvSoQw9YPdE="
//registry.npmjs.org/:_authToken=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
//npm.pkg.github.com/:_authToken=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
@trendymen:registry=https://npm.pkg.github.com/
# https-proxy=http://localhost:41091/
# proxy=http://localhost:41091/
engine-strict=true
